@*

    WELCOME TO...
     ___________ _____   _____ ___________ _____  ______  ___   _____ _   _   _____  _____  __   ______
    |  ___| ___ \_   _| /  __ \  _  |  _  \  ___| | ___ \/ _ \ /  ___| | | | / __  \|  _  |/  | |___  /
    | |__ | |_/ / | |   | /  \/ | | | | | | |__   | |_/ / /_\ \\ `--.| |_| | `' / /'| |/' |`| |    / /
    |  __||  __/  | |   | |   | | | | | | |  __|  | ___ \  _  | `--. \  _  |   / /  |  /| | | |   / /
    | |___| |    _| |_  | \__/\ \_/ / |/ /| |___  | |_/ / | | |/\__/ / | | | ./ /___\ |_/ /_| |_./ /
    \____/\_|    \___/   \____/\___/|___/ \____/  \____/\_| |_/\____/\_| |_/ \_____/ \___/ \___/\_/

    Kolmården is celebrating 52 years and wants a new and fun landing page.


    FILE INFO:
    This file is the landing page.

    WHAT THIS FILE DOES:
    To help you get started it's showing all the metadata for a random animal.

    WHAT YOU SHOULD DO:
    1) Read through this view file to see what metadata exists
    2) Start the site and refresh this page a few times to learn what data exists and how "reliable" it is.
       All images and metadata are available in the Media pane as well.
    3) You probably want to show only some of the data, and more visually pleasing. Have fun!
    4) Take a look at the controller and viewmodel in StartController.cs

    OTHER FILES:
    The controller and viemodel are both in Controllers/StartController.cs

*@


@{
    Layout = "~/Views/Shared/_Root.cshtml";
}
@using CodeBash2017.Models.Media
@using EPiServer.Cms.Shell
@model CodeBash2017.Controllers.StartPageViewModel


<style>

    body {
        background: #f7f7f5;
        color: #5B7319;
        text-align: center;
        font-family: 'Helvetica', 'Arial';
        margin: 0;
    }

    .Header {
        max-width: 500px;
        margin-right: auto;
        margin-left: auto;
    }

    .Button {
        color: #fff;
        background: #5B7319;
        border: none;
        padding: 1em;
        cursor: pointer;
    }

    .Button:hover {
        background: #80a223;
    }

    .Button--secondary {
        background: #9fac7c;

    }

    .LogoBar {
        background: #fff;
        padding: 1em;
    }
    .List {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .List-item {
        width: 20%;
        display: table-cell;
        vertical-align: middle;
    }

    .List-item img {
        max-width: 100%;
        border-radius: 30px;
				object-fit: cover;
				height: 200px;	
    }
    .List-item a:hover {
        outline: 2px solid green;
        outline-offset: -10px;
    }

    .Option {
        padding: 1em;
        display: inline-block;
    }
    .Tags {
        margin-top: 1em;
        margin-bottom: 1em;
        margin: 3em 0;
        
    }

    .Tag {
        border: 2px solid #80a223;
        border-radius: 10px;
        padding: 1em;
    }

    .Tag--selected {
        background: #9fac7c;
        color: black;
    }
</style>
<script src="jquery-1.12.4.js"></script>

<div class="LogoBar">
    <img src="logo.jpg" height="100" />
</div>
<div class="Header">
    <h1>Kolmården fyller 52 år!</h1>
    <h2>Vinn en entrébiljett för hela familjen!</h2>
    <p>Kolmården fyller 52 år och det firar vi med en tävling där ni kan vinna ett besök för hela familjen. Allt ni behöver göra är att få högst poäng i våran tävling.</p>

    @*<div class="Tags">
			@foreach (var tag in Model.TagImages.OrderBy(item=>DateTime.Now.Ticks))
			{
				<span class="Tag">@tag.Tag.Name</span>
			}
    </div>*@
	@{ 
		var correctImage = Model.TagImages.ElementAt(Model.Seed);
	}
</div>




@if (Request.QueryString["success"] == "True")
{
	<h1 style="margin-bottom: 1em;">Du är ju smart - det var rätt!</h1>
	<a href="/" class="Button" style="text-decoration: none;">Ge mig en till</a>
}
else
{
	if (Request.QueryString["success"] == "False")
	{
		<p style="font-size: 1.4em; font-weight: bold; color: red;">Tyvärr, det var fel men försök med den här istället!</p>
	}

	<h2>Hjälp oss hitta "@correctImage.Tag.Name"?</h2>

	<ul class="List">

		@foreach (var image in Model.TagImages)
		{
			<li class="List-item"><a href="?success=@((correctImage==image).ToString())" class="Option js-option" data-option="" ><img src="@image.Url" /></a></li>
		}
	</ul>

}
